<span class="inner-field-short-description">
    {#{{dump(object)}}#}
    {% if object and admin.hasRoute('edit') and admin.isGranted('EDIT') %}
        <a href="{{ admin.generateObjectUrl('edit', object, link_parameters) }}" target="new">
            {# is media #}
            {% if object.providerName is defined %}
                <div class="row object-image">
                    <img src="{% path object, 'admin'%}" ><br>
                    {#{% thumbnail object, 'admin' with {'class': 'img-responsive'} %}#}
                </div>
            {% endif %}

            {# is gallery #}
            {% if object.defaultFormat is defined %}
                <div class="row object-gallery">
                    {% for galMedia in object.galleryHasMedias %}
                        <div class="col-md-4">
                            {% thumbnail galMedia.media, 'admin' with {'class': 'img-responsive'} %}
                        </div>
                    {% endfor %}
                </div>
                <style>
                    .inner-field-short-description{
                        display: block;
                        width: 100%;
                    }
                    .object-gallery > div{
                        height: 70px;
                        padding: 0;
                        float:none;
                        display:inline-block;
                        vertical-align:middle;
                    }
                    .object-gallery img{
                        max-height: 100%;
                    }
                </style>
            {% endif %}
        </a>

    {% else %}
        {{ description }}
    {% endif %}
</span>
